body{
    background-image: url(img/background.jpg);
    background-size: cover;
    
}

textarea {
    resize: none;
  }

p{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover {
    color: #f12711 !important;
}

img {
    border: solid 10px transparent;
}

.ri-s-line{
  font-size: 36px;
}

ul{
    font-family: sans-serif;
}

h2{
    font-family: 'Work Sans', sans-serif;

    
}

h3{
    font-family: 'Work Sans', sans-serif;
}

.img-animation{
    max-height: 240px;
    max-width: 240px;
}

.counter-number{
    font-size: 60px;
}

.counter-item{
    font-size: 40px;
    
}

.accordion-button:focus{
    color: #f12711 !important;
    box-shadow: none;
}

.accordion-button:hover{
    color: #f12711 !important;
}

.accordion-button:not(.collapsed){
    background-color: #fff;
}

.app-icon i{
    font-size: 60px;
}

.bg-row{
    background-image: url(img/20135.jpg);
    background-size: cover;
    height: 500px;
}

.bg-row p{
    color: #fff;
}

.gallery-search-bar{
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    

}

.cat{
    font-family: 'Abril Fatface', cursive;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.search-button:focus{
box-shadow: 0 0 0 0.2rem #f12711 !important;
}

.fs-icon{
    font-size: 24px;
}

.swiper {
    max-width: 800px;
    height: 600px;
  }

  .swiper-slide {
    position: relative;
}


  .content {
    position: absolute;
    background-color: white;
    bottom: 30px;
    right: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 5px;
}

.content h3{
    color: #c99912;
}

.swiper-pagination-bullet-active {
    background-color:#c99912 !important;
}

.modal-body i{
    font-size: 24px;
}

.form-label{
    margin: 0;
}

.msg-height{
    height: 100px;
}

form .btn{
    background-color: #c99912!important;
    border: 0;
}

.form-control:focus{
    box-shadow: 0 0 0 0.1rem #f12711 !important;
    border-color: #c99912;
}

.form-check-input:focus{
    box-shadow: 0 0 0 0.1rem #f12711 !important;
    border-color: #c99912;
}

.form-check-input:checked{
    background-color: #c99912;
    border-color: #f12711
}

.modal-backdrop {
    z-index: -1;
  }

  footer a{
    color: #c99912;
  }