body{
    background-image: url(img/background.jpg);
    background-size: cover;
    
}

p{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover {
    color: #f12711 !important;
}

img {
    border: solid 10px transparent;
}

.ri-s-line{
  font-size: 36px;
}

ul{
    font-family: sans-serif;
}

h2{
    font-family: 'Work Sans', sans-serif;
    
}

.img-animation{
    max-height: 240px;
    max-width: 240px;
}

.counter-number{
    font-size: 60px;
}

.counter-item{
    font-size: 40px;
    
}

.accordion-button:focus{
    color: #f12711 !important;
    box-shadow: none;
}

.accordion-button:hover{
    color: #f12711 !important;
}

.accordion-button:not(.collapsed){
    background-color: #fff;
}

.app-icon i{
    font-size: 60px;
}

.bg-row{
    background-image: url(img/20135.jpg);
    background-size: cover;
    height: 500px;
}

.bg-row p{
    color: #fff;
}

.gallery-search-bar{
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    

}

.cat{
    font-family: 'Abril Fatface', cursive;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.search-button:focus{
box-shadow: 0 0 0 0.2rem #f12711 !important;
}

.fs-icon{
    font-size: 24px;
}

.swiper {
    width: 600px;
    height: 300px;
  }
  